/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    /* --primary: #F94A29; */

    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

/* .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
} */

.grayScale{
    /* filter: grayscale(100%); */
}
.grayScale:hover{
    filter: grayscale(0);
    transform: scale(1.03);
    transition: 0.5s;
}


/*** Quote ***/

.quote{
    background-color: #181d38;
    color: #06BBCC;
    padding: 15px 10px;
    width: 100%;
    font-size: medium;
    font-family: cursive;
    letter-spacing: 1px;

}
@media (max-width: 576px) {
    .quote{
        font-size: x-small;
    }
  }
  /* @media (max-width: 767.98px) {
    .quote{
        font-size: medium;
    }
} */
    @media (max-width: 450px) {
        .quote{
          display: none;
            font-size: x-small;
            padding: 10px;
        }
      }



/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    
}
.btn.btn-primary{
    background-color: #06BBCC;
    
}
.btn.btn-primary, .btn.btn-light{
    border-radius: 0;
    border: 0;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

.primary-color-text{
    color: var(--primary);
}
.primary-color-bg{
    background-color: var(--primary) !important;
}
.primary-color-bg:hover{
    background-color: #0b5ed7!important;
}
.join-now{
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    /* margin-right: 40px !important; */
    /* padding-top: 25px !important;
    padding-bottom: 25px !important; */
}
.join-now:hover{
 transform: translateX(10px);
  color: var(--primary) !important;
  transition: 0.4s;
}
.activateBtn{
  color: #0b5ed7 !important;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;

    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}
.nav-bg{
    /* background-color: rgb(243, 239, 239); */
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 24px 0;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
    font-weight: 500 !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
    font-weight: 600 !important;
}
.navbar-brand{
    margin-right: 0 !important;
}

.navbar-toggler:focus{
  box-shadow: 0 0 0 var(--primary) !important;
  outline: 1px solid var(--primary) !important;
}


@media (max-width: 1199.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 10px;
        padding: 0 0;
    }
    .join-now{
        font-size: 14px !important;
        
    }

}
@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0px;
        padding: 0 0;
        font-size: 14px;
    }
}
@media (max-width: 767.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
       
    }
    .join-now{
        font-size: 12px !important;
    }

     .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 768px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Carousel ***/

.carousel .slide img {
    max-height: 600px;
    object-fit: cover;
  }
 
  .carousel-image {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .carousel.carousel-slider{
    margin-top: 63px;
  }
  .carousel-main-heading{
    font-size: 24px;
}
.carousel-heading{
    font-size: 40px;
}
.carousel-para{
    font-size: 18px;
}
.slide button{
    font-size: 20px;
  }

  @media (max-width: 991.98px) {
    .carousel-main-heading{
        font-size: 18px;
    }
    .carousel-heading{
        font-size: 28px;
    }
    .carousel-para{
        font-size: 16px;
    }
    .slide button{
        font-size: 16px;
      }
}
@media (max-width: 767.98px) {
    .carousel-main-heading{
        font-size: 16px;
    }
    .carousel-heading{
        font-size: 25px;
    }
    .carousel-para{
        font-size: 14px;
    }
    .slide button{
        font-size: 12px;
      }
}

     @media (max-width: 575.98px) {
        .control-dots{
            display: none;
        }
        .carousel-main-heading{
            font-size: 17px;
        }
        .carousel-heading{
            font-size: 23px;
        }
        .slide button{
            font-size: 10px;
          }
          .carousel .slide img {
            height: 300px;           
          }
    }
   
 
    /*** Heading Wallpaper ***/

    .heading-container{
        height: 60vh;
        margin: 0;
        padding: 0;
        /* margin-top: 63px !important; */
        position: relative;
    }
    .heading-img{
        width: 100%;
        height: 100%;
        filter: brightness(30%) contrast(70%);     
    }
    .heading-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        color: var(--light);
    }
    .heading-content h1{
        font-size: 2.5rem;
        font-family: "Heebo",sans-serif
    }
    @media (max-width: 767.98px) {
      .heading-container{
        height: 45vh;
    }
    .heading-content h1{
      font-size: 2rem;

  }
  }
    @media (max-width: 575.98px) {
        .heading-container{
            height: 30vh;
        }
        .heading-content h1{
            font-size: 23px;

        }
    }
    


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}
.social{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 2rem;
}
.social:hover{
    color: #0b5ed7;
}
.read-btn{
    background-color: var(--primary);   
    width: 30% !important;
    color: white !important;
    border: 1px solid var(--primary);
}
.read-btn:hover{
    background-color: #0b5ed7;
    color: white !important;
    transition: 0.5s;
}

  @media (max-width: 767.98px) {
    .read-btn{
        font-size: small;
    }
}
@media (max-width: 425px) {
  .read-btn{
      width: 40% !important;
      font-size: small;
  }
}


/*** Service ***/

.service-item {
    background: var(--light);
    /* background: #d3d4d5; */
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}
.icon-font{
    font-size: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.service-item-wrapper {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s ease-out;
  }
  
  .service-item-wrapper.show {
    opacity: 1;
    transform: translateY(0);
  }

  /*** Features ***/

  /* .features{
    background-color: var(--light);
  } */

  .each-feature {
    background-color: var(--light);
  }
  .each-feature:hover{
    background-color: var(--primary);
    transform: scale(1.05);
    transition: 0.5s;
  }
  .each-feature:hover *{
    color: white;
  }
 

  /*** Demo Form ***/
  .request-form {
    background-color: var(--dark);
    padding: 40px;
  }
  
  @media (max-width: 992px) {
    .request-form {
      width: 90%;
    }
  }
  @media (max-width: 450px) {
    .request-form {
      padding: 30px 20px;
    }
  }

  .request-form ::placeholder{
    color: rgb(131, 127, 127);
    
  }
  
  .request-form input,
  .request-form  select
 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--light);
    outline: none;
    background-color: transparent;
    color: white;
    padding: 10px 0px;
  }
  .request-form button {
    display: block;
    width: 60%;
    margin-left: 20%;
    padding: 10px 15px;
    margin-top: 30px;
    /* margin-bottom: 0; */
  }
  .request-form input:focus,
  .request-form  select:focus{
    border-bottom: 3px solid var(--primary);
    /* transition: 0.5s; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }


  .bullet-points:hover{
    letter-spacing: 1px;
    color: var(--primary);
    transition: 0.4s;
    user-select: none;
  }
  



/*** Categories & Courses ***/
.course-item{
    background-color: var(--light);
}
.category img,
.course-item img {
    transition: .5s;
}
.category a:hover img{
  cursor: pointer;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);  
    transition: 0.4s;
}

.more-btn{
    background-color: var(--primary);   
    width: 20% !important;
    color: white !important;
    border: 1px solid var(--primary);
    
}
.more-btn:hover{
    background-color: #0b5ed7;
    color: white !important;
    transition: 0.5s;
}


@media (max-width: 576px) {
    .course-item p{
        font-size: small;
    }
  }
  @media (max-width: 767.98px) {
    .course-item p{
        font-size: medium;
    }
    .more-btn{
        width: 50% !important;
    }
}
    @media (max-width: 450px) {
        .course-item p{
            font-size: smaller;
        }
      }



/*** Team ***/
.our-team{
  background-color: var(--light);
}
.our-team:hover{
  background-color: var(--primary);
  transform: translateY(-15px);
  transition: 0.5s;
}
.our-team:hover *{
  color: white;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.owl-theme .owl-dots .owl-dot span{
    position: relative !important;
    display: inline-block !important;
    margin: 0 5px !important;
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 0 !important;
    transition: all 0.3s ease-in-out !important;
}

.testimonial-carousel .owl-dots .owl-dot.active span, .testimonial-carousel .owl-dots .owl-dot.active span:hover{
    background: var(--primary) !important;
    border-color: var(--primary) !important;
    transform: scale(1.2) !important;
}
.testimonial-carousel .owl-dots .owl-dot span{
    background: transparent !important;
    border-color: gray !important;
    
}
.testimonial-carousel .owl-dots .owl-dot span:hover{
    background: gray !important;
    border-color: gray !important;
}
.testimonial-carousel .testimonial-text {
    position: relative;
    background-color: var(--light) !important;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
    z-index: 1;
    font-family: cursive;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px !important;
}
  .testimonial-carousel .owl-item.center .testimonial-text {
    background-color: var(--primary) !important;
  }


/*** Footer ***/

.footer{
    background-color: var(--dark);
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "";
    font-family: "";
    font-weight: 900;
    margin-right: 10px;
   
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright button {
    color: var(--light);
}

.footer .footer-menu button {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu button:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/*** Process ***/

.flowchart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: -20px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 20%;
    /* height: 150px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    background-color: var(--light);
    box-shadow: 0px 2px 5px #ccc;
    padding: 10px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
  }
  .box:hover{
    background-color: var(--primary);
    transition: 0.5s;
    transform: translateY(-20px);
  }
  .box:hover *{
    color: white;
    transition: 0.5s;
  }
  
  .box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: monospace;
  }
  .box p{
    font-family: cursive;
  }
  
  .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transform: rotate(180deg);
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ccc;
    margin: 0 10px;
  }
  
  .box:nth-child(1) ~ .arrow-container:nth-child(odd) .arrow {
    border-right-color: #fff;
    border-left: 10px solid #ccc;
  }
  
  @media (max-width: 992px) {
    .box {
      width: 33.33%;
      max-width: 33.33%;
      margin: 10px;
    }
    .arrow {
        display: none;
      }
  }
  
  @media (max-width: 576px) {
    .box {
      width: 100%;
      max-width: 100%;
      margin: 0 0 10px 0;
    }
  
    .box:nth-child(1) ~ .arrow-container:nth-child(odd) .arrow {
      margin: 0;
    }
  
    .arrow-container {
      height: auto;
      margin-bottom: 10px;
      transform: rotate(180deg);
    }
   
      
      .arrow {
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        /* border-top: 10px solid #ccc; */
        border-bottom: 10px solid #ccc;
        display: flex;
      }
   
  }


  /*** BAck to Top ***/

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    padding: 0.8rem 1rem;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--primary);
    border-radius: 100%;
  }
  
  .back-to-top.visible {
    opacity: 1;
  }
  
  .back-to-top span {
    font-size: 20px;
    color: #fff;
  }
  
  .back-to-top:hover {
    opacity: 0.7;
    transform: translateY(-10px);
    transition: 0.4s;
  }
  @media (max-width: 576px) {
    .back-to-top{
      display: none;
        padding: 0.3rem 0.5rem;
    }
    .back-to-top span {
        font-size: 16px;
      }
}
  

/*** Our Story ***/

.founder-card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  
  .founder-img {
    transition: transform 0.3s ease-in-out;
  }
  
  .founder-card:hover .founder-img {
    transform: scale(1.1);
  }
  .founder-name{
    text-align: center;  
    background-color: var(--light);
    padding: 1rem;
  }
  .founder-card:hover .founder-name{
    opacity: 0;
    transition: 0.4s;
  }
  
  .founder-overlay {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  .founder-card:hover .founder-overlay {
    opacity: 1;
    transition: 0.5s;
  }
  .founder-overlay p {
    font-size: 1rem;
    margin-bottom: 0;
    /* max-height: 200px; */
    overflow: auto;
  }

  @media (max-width: 576px) {
    .founder-name{
        padding: 0.5rem;
        font-size: 21px;
      }
      .founder-overlay{
        padding: 0.5rem;
        bottom: 28px;
      }
      .founder-overlay p{
        font-size: 12px;
      }
      .founder-overlay p{
       max-height: 200px;
       user-select: none;
      }
}
 
  
/*** Course Card ***/

.bgColorFoundation{
    background-color: var(--light)
}
.bgColorProfessional{
    background-color: #C0EEF2;
}
.bgColorFramework{
    background-color: #B9E0FF;
}


/*** Course Page **/
.overview{
    font-size: large;
    font-family: cursive;
}
.outline .including:hover{
    transform: translateX(5px);
}
.forBorder{
    border-right: 1px solid var(--primary);
}
@media (max-width: 576px) {
    .overview{
        font-size: medium;
    }   
    
}
@media (max-width: 768px) {
    .overview{
        font-size: medium;
    }
    .forBorder{
        border-bottom: 1px solid var(--primary);
    }
    .forBorder{
        border-right: none;
    }
}


/*** Accordion in Course COntent ***/
.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background-color: var(--light);
    border: 1px solid #dee2e6;
  }
  
  .accordion-header:hover {
    background-color: var(--primary);
    letter-spacing: 1px;
  }
  
  .accordion-header span {
    font-weight: bold;
    margin-left: 0.5rem;
  }
  
  .accordion-body {
    padding: 1rem;
  }
  
  .accordion-collapse {
    display: none;
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
  .accordion-collapse.show {
    display: block;
  }
  @media (max-width: 576px) {
    .accordion-header {
        font-size: medium;
    }   
    .accordion-body{
        font-size: small;
    }
    
}

/*** FAQ's ***/
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
  }
  
  .faq-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    
  }

  .faq-item:hover{
    background-color: var(--light);
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .faq-answer {
    padding: 15px;
    display: none;
  }
  
  .faq-icon {
    margin-right: 10px;
    font-size: 18px;
    line-height: 1;
  }
  
  .faq-answer.active {
    display: block;
    background-color: var(--light);
  }

  .view-more{
    outline: none;
    background-color: transparent;
    color: var(--primary) !important;
    font-weight: 500;
  }
  .view-more:hover{
    color: #0b5ed7 !important;
  }
  

  /* Enrollment form */
.enrollment-form {
    background-color: var(--light);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    /* max-width: 500px; */
  }
  
  .enrollment-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #06BBCC;
  }
  
  .form-control input,
  .form-control select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    background-color: #ffffff;
    font-size: 16px;
    font-family: inherit;
    color: #333333;
  }
  .enrollment-form button[type="submit"] {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enrollment-form button[type="submit"]:hover {
    background-color: #0b5ed7;
  }
  
  
  @media only screen and (max-width: 768px) {
    .enrollment-form {
      max-width: 100%;
    }
  }

  .join-now-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  @media (max-width: 768px) {
    .join-now-container {
      /* min-height: 60vh; */
    }
  }
  
  @media (max-width: 576px) {
    .join-now-container{
      /* min-height: 40vh; */
      display: none;
    }
  }
  

  /*** Whatsapp Button ***/
  .wa__btn {
    position: fixed;
    bottom: 20px;
    /* left: 20px; */
    padding-left: 10px;
    z-index: 999;
    background-color: transparent;
    border: none;
  }
  .wa__btn img{
    width: 60px;
    height: 60px;
  }
  .wa__btn img:hover{
    transform: scale(1.2);
    transition: 0.5s;
  }
  @media (max-width: 576px) {
    .wa__btn{ 
      position: fixed;
      bottom: 20px;
      right: 20px ;
    }
    .wa__btn img{
      width: 30px;
      height: 30px;
    }
  }


  
/*** Contact ***/

  .contact-page {
    margin-top: 50px;
  }
  
  .contact-info {
    padding: 20px;
    background-color: var(--light);
    
  }
  .contact-info img{
    width: 40%;
    height: 50%;
  }
  
  .contact-form {
    padding: 20px;
  }
  
  .contact-icon {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .contact-info-box,
  .contact-form-box {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 30px;
  }
  
  .contact-info-box h3,
  .contact-form-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info-box p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-form-box form {
    margin-top: 30px;
  }
  
  .contact-form-box input[type="text"],
  .contact-form-box input[type="email"],
  .contact-form-box textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .contact-form-box button[type="submit"] {
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 10px 40px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .contact-form-box button[type="submit"]:hover {
    background-color: #0b5ed7;
  }
  


  /*** Purpose***/
  .purpose-card, .our-method{
    background-color: var(--light);
  }
  .purpose-card:hover, .our-method:hover{
    background-color: var(--primary);
    transform: scale(1.05);
    transition: 0.5s;
    
  }
  .purpose-card:hover *, .our-method:hover *{
    color: white;
  }


/***Modal***/
.modal-header{
  background-color: var(--primary);
  color: white;
  
}
.modal-body{
  background-color: var(--light);
  letter-spacing: 1px;
}



/***Lottie Animations***/

#lottie{
  margin: 0 !important;

}

@media (max-width: 1200px) {
  .animation-lottie #lottie {
    height: 500px !important;
    width: 475px !important;
  }
}
@media (max-width: 992px) {
  .animation-lottie{
    display: flex;
    justify-content: center;
  }
  .animation-lottie #lottie {
    height: 400px !important;
    width: 600px !important;
  }
} 
@media (max-width: 768.9px) {

  .animation-lottie #lottie {
    height: 400px !important;
    width: 550px !important;
  }
}
 @media (max-width: 576.9px) {

  .animation-lottie #lottie {
    height: 210px !important;
    width: 325px !important;
  }
} 


/*** Why this course***/
.why-course ul{
  /* column-count: 2;
  column-gap: 50px; */
}
.why-course li{
  /* break-inside: avoid-column; */
 letter-spacing: 1px;
 font-weight: 500;
}
.why-course li:hover{
  background-color: var(--primary);
  color: white;
  transform: scale(1.01);
  transition: 0.4s;

} 
::marker{
  color: var(--primary);
}
@media (max-width: 576.9px) {
  /* .why-course ul{
    column-count: 1;
  } */
} 


.share-button{
  background-color: var(--primary);
  color: white;
  padding: 10px 15px;
  border: none;
}
.share-button:hover{
  background-color: #0b5ed7;
  transform: scale(1.1);
  transition: 0.4s;
}
@media (max-width: 576.9px) {
  .share-button{
   font-size: small;
    color: white;
    padding: 7px;
 
  }
} 